@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}
h2{
    font-size:2em;
    font-family: 'Recursive', sans-serif;
}
body{
    background-color: #0F1c70;
    color: #fffffe;
}
a{
    color: #ffffff;
    text-decoration: none;
    border-bottom: 0.5px dotted silver;
}
.background {
    position:  absolute;
    display:  block;
    top: 0;
    left: 0;
    z-index: -100;
    
  }  #container{
    width: 80%;
    margin: auto;
}
@media(min-width:992px){
    #container{
        width: 40%;
        margin: auto;
    }
}

#contact-group,#outro{
    text-align: center;
}
#outro{
    font-size: small;
}
li{
    font-size: 0.8em;
}
#greeting{
 text-align: center;
 font-family: 'Recursive', sans-serif;
}